fastapi
uvicorn[standard]
sqlmodel[asyncio]
asyncpg
httpx
pydantic-settings
redis
pytest
pytest-asyncio
aiosqlite
pyotp
qrcode
argon2-cffi
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pytest-cov
pillow